*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:33%;
    border: 3px solid rgb(209, 123, 12);
    border-radius: 100px ;
    animation: type 5s;
    box-shadow: 0 0px 3px #fff;
}
@keyframes type{
    0%{

}
    100%{
}
}



.navbar{
    display: flex;
    

}

.nav-list{
    width:60%;
    background-image: linear-gradient(orange,white,green);
    display: flex;
    align-items: center;
    
    
}
.nav-list li a.active{
    text-decoration: underline;

}
.nav-list li{
    list-style: none;
    padding: 29px 30px;
}
.nav-list li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.nav-list li a:hover{
    border-radius: 500px;
    position: relative;
    text-decoration: none;
    background-image:  linear-gradient(orange,white,green);
}
.rightNav{
    background-image:linear-gradient(orange,white,green);
    width:40%;
    text-align: right;
}
header{
    background-image:url(../1234.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    animation:type2 10s;   
}
@keyframes type2{
    0%{
        background-image: url(../12.jpg) ;
    }
   
    33%{
        background-image : url(../12345.jpg);
    }
        
    66%{
        background-image : url(../123.jpg);
    }
    
    100%{
        background-image : url(../1234.jpg);}

}


/* .title h1{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: consolas;
    letter-spacing: 5px;
    animation:type 15s steps(1000);
    overflow: hidden;
    white-space: nowrap;
    color: rgb(255, 94, 0);
    
}
@keyframes type{
    0%{
        width: 0ch;
        color:green;

    }
    60%{
        width:15ch;
        color:yellow;
    }
    100%{
        color: rgb(255, 94, 0);
    }
} */
span::before{
    content:'';
    animation: animate infinite 15s;

}
@keyframes animate{
    0%{
        content:"Aarogya Setu";
        overflow: hidden;
    }
    50%{
        content:"Indian Helpdesk";
        overflow: hidden;
    }
    100%{
        content:"Aarogya Setu";
        overflow: hidden;
    }

}
.continuous{

    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: consolas;
    letter-spacing: 5px;
    animation:type1 10s ;
    overflow: hidden;
    white-space: nowrap;
   
}
@keyframes type1{
    0%{
        width: 0ch;
        color: rgb(255, 166, 0);
        
    }
    100%{
        width:26ch;
        color: #101010;
    }
}


.title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color:rgb(255, 128, 9);
    font-size: 70px;
}
.mybutton{
    border-radius: 5px ;
    outline:yellow;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: type1 radial-gradient(orange,rgb(247, 247, 247),green);
    outline: black;
    
}
.btn{
    border:1px solid rgb(0, 0, 0);
    padding:10px 30px;
    color:black;
    text-decoration: none;
    transition:0.6s all ease;
    border-radius: 100px;
}
.btn:hover{
    color:#000;
    background-color:rgb(255, 166, 0);
    transition: style;
    border-radius: 2px;
    background-image:  linear-gradient(orange,rgb(255, 255, 255),green);

}
 
